<h2 mat-dialog-title>{{ 'EDIT_PRODUCT.TITLE' | translate }}</h2>
<form [formGroup]="editForm" (ngSubmit)="save()">
    <mat-form-field appearance="fill">
        <mat-label>{{ 'EDIT_PRODUCT.NAME' | translate }}</mat-label>
        <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{ 'EDIT_PRODUCT.PRICE' | translate }}</mat-label>
        <input matInput type="number" formControlName="price" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{ 'EDIT_PRODUCT.DESCRIPTION' | translate }}</mat-label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <div mat-dialog-actions>
        <button mat-button type="button" (click)="close()">{{ 'EDIT_PRODUCT.CANCEL' | translate }}</button>
        <button mat-raised-button color="primary" type="submit">{{ 'EDIT_PRODUCT.SAVE' | translate }}</button>
    </div>
</form>