<div class="cart-body">
  <h2 class="cart-title">{{ "CART.TITLE" | translate }}</h2>
  <div *ngIf="cart.length === 0" class="empty-cart">
    <p>{{ "CART.EMPTY_MESSAGE" | translate }}</p>
  </div>
  <div *ngIf="cart.length > 0" class="cart-container">
    <ul class="product-list">
      <li *ngFor="let item of cart" class="product-item">
        <img *ngIf="item.product.imageURL" [src]="'http://localhost:8000' + item.product.imageURL"
          alt="{{ item.product.name }}" class="cart-image" />
        <div class="product-details">
          <div class="product-name">{{ item.product.name }}</div>
          <div class="product-price">{{ item.product.price | number:'1.2-2' }} Ft</div>
          <div class="product-quantity">{{ "CART.QUANTITY" | translate }}: {{ item.quantity }}</div>
        </div>
        <div class="product-actions">
          <button *ngIf="item.product.id !== undefined" (click)="decreaseFromCart(item.product.id)" class="decrease-button">
            {{ "CART.DECREASE" | translate }}
          </button>
          <button *ngIf="item.product.id !== undefined" (click)="removeFromCart(item.product.id)" class="remove-button">
            {{ "CART.REMOVE" | translate }}
          </button>
        </div>
      </li>
    </ul>
    <div class="total-price">
      <div class="total-price-container">
        <p class="total-label">{{ "CART.TOTAL" | translate }}:</p>
        <p class="total-amount">{{ totalPrice | number:'1.2-2' }} Ft</p>
      </div>
      <div class="delivery-button">
        <a [routerLink]="['/', currentLang, 'delivery']" class="delivery-link">{{ "CART.CHECKOUT" | translate }}</a>
      </div>
    </div>
  </div>
</div>