.nav {
    width: 100vw;
    height: 80px;
    border-bottom: solid 3px rgba(0, 0, 0, 0.226);
    /* background-color:#1b2947 ; */
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background: linear-gradient(-45deg, rgba(43, 49, 82, 0.95), rgba(43, 49, 82, 0.95), rgb(76, 64, 103, 0.95), rgb(97, 83, 131, 0.95));
    background-size: 200% 200%;
    animation: gradient 6s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 12%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0 12%;
    }
}

.img_lan {
    width: 55px;
    height: auto;
}

.img_user {
    width: 45px;
    height: auto;
}



.img_cart {
    width: 45px;
    height: 50px;

}



.logo {
    position: relative;
    left: 5vw;
    display: flex;
    align-items: center;
}

.logoimage {
    width: 50px;
    height: auto;
}

.logoh1 {
    color: white;
    text-shadow: white 0px 0px 7px;
    position: relative;
    left: 30px;
}

.logo:hover {
    transform: scale(1.1);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    list-style: none;
    position: relative;
    left: 20vw;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    transition: all 0.3s;
    padding:10px;
    border-radius: 10px;
    text-shadow: 2px 2px 0 #000000, -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000;
}

.nav-links a:hover {
    color: rgb(0, 0, 0);
    background-color: white;
    text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;
}

.language_btn {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 1.5em;
    transition: all 0.3s;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.language_btn:hover {
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 5px;
}

.language-switcher {
    position: absolute;
    right: -20vw;
    display: inline-block;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: absolute;
    left: -60px;
    top: 60px;

}

.dropdown li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown li:hover {
    background-color: #ddd;
}

.language-switcher .dropdown {
    display: block;
}


.user_a {
    position: absolute;
    right: -10vw;
    display: flex;
    align-items: center;
}


.cart_a {

    display: flex;
    align-items: center;
    position: absolute;
    right: -15vw;

}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 20vw;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #f9f9f9;
        text-align: center;
        margin: 0;
        padding: 5px 0;
        gap: 10px; 
    }

    .nav-links.open {
        display: flex;
        position: relative;
        top: 270%;
        width: 20vw;
        left: 30vw;

    }

    .nav-links a {
        padding: 10px 5px;
        border-bottom: 1px solid #ddd;
        border-radius: 0;
        font-size: 2.5vmin;
        color: black;
        text-shadow: none;
    }

    .cart_a {
        left: 0;
        position: relative;
        border: none !important;
    }

    .user_a {
        position: relative;
        right: 0;
        display: flex;
        align-items: center;
        border: none !important;
    }

    .language-switcher {
        position: relative;
        right: 0;
        display: inline-block;
        border: none !important;
    }

    .img_lan {
        width: 45px;
        height: auto;
    }
    
    .img_user {
        width: 35px;
        height: auto;
    }
    
    
    
    .img_cart {
        width: 35px;
        height: 50px;
    
    }
    
}