<div class="body">
    <div class="container">
        <h1>Árlista</h1>
        <table>
            <thead>
                <tr>
                    <th>Szolgáltatás</th>
                    <th class="price">Ár</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Hajvágás</td>
                    <td class="price">4 500 Ft</td>
                </tr>
                <tr>
                    <td>Szakáll igazítás</td>
                    <td class="price">3 000 Ft</td>
                </tr>
                <tr>
                    <td>Hajvágás + Szakáll igazítás</td>
                    <td class="price">7 000 Ft</td>
                </tr>
                <tr>
                    <td>Gyerek hajvágás</td>
                    <td class="price">3 500 Ft</td>
                </tr>
                <tr>
                    <td>Borotválás</td>
                    <td class="price">2 500 Ft</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>