<div class="body">
    <div class="container">
        <h1>{{ "Price List" | translate }}</h1>
        <table>
            <thead>
                <tr>
                    <th>{{ "Service" | translate }}</th>
                    <th class="price">{{ "Price" | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ "Haircut" | translate }}</td>
                    <td class="price">4 500 Ft</td>
                </tr>
                <tr>
                    <td>{{ "Beard Trim" | translate }}</td>
                    <td class="price">3 000 Ft</td>
                </tr>
                <tr>
                    <td>{{ "Haircut + Beard Trim" | translate }}</td>
                    <td class="price">7 000 Ft</td>
                </tr>
                <tr>
                    <td>{{ "Kids Haircut" | translate }}</td>
                    <td class="price">3 500 Ft</td>
                </tr>
                <tr>
                    <td>{{ "Shaving" | translate }}</td>
                    <td class="price">2 500 Ft</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>