<div class="body">
    <div class="container">
        <img [src]="product.imageURL" [alt]="product.name" />

        <div class="details">
            <div class="header">
                <span class="name">
                    {{ product.name }}
                </span>
                <div class="price">
                    <span class="price">
                        {{ product.price | currency : "Ft " }}
                    </span>
                </div>
                <button (click)="addtoCart()">{{ "Hozzáad" | translate }}</button>
                <Button (click)="goBack()">{{ "Vissza" | translate }}</Button>
                <div *ngIf="itemAdded" class="success-message">
                    Hozzáadva a kosárhoz!
                </div>
            </div>
        </div>
    </div>
</div>