<div class="body" *ngIf="product">
    <div class="container">
        <img *ngIf="product.imageURL" [src]="'http://localhost:8000' + product.imageURL" alt="{{ product.name }}" />
        <div class="details">
            <div class="header">

                <div class="title">
                    <span class="name">
                        {{ product.name }}
                    </span>
                    <div class="price">
                        <span class="price">
                            {{ product.price }} Ft
                        </span>
                    </div>
                    <div class="description">
                        {{ product.description }}
                    </div>
                </div>

                <!-- Hozzáad gomb -->
                 <div class="buttons">
                    <button (click)="product.id !== undefined && addToCart(product.id)">{{ "Hozzáad" | translate }}</button>
                    <button (click)="goBack()">{{ "Vissza" | translate }}</button>
                 </div>

                <div *ngIf="itemAdded" class="success-message">
                    Hozzáadva a kosárhoz!
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!product">
    <p>Termék betöltése...</p>
</div>