.body {
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("/assets/images/stars.png"),
    linear-gradient(
      to bottom,
      #1b2947,
      #1b2947,
      #2b3152,
      #3b385d,
      #3b385d,
      #4c4067,
      #615383,
      #776092
    );
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-position: center center, center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vh;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.836);
  border-radius: 15px;
  width: 90vw;
  height: 80vh;
}

/* .container > * {
  min-width: 25rem;
  max-width: 40rem;
} */

img {
  border-radius: 5rem;
  object-fit: fill;
  width: 30vw;
  height: 30vw;
}

.details {
  display: flex;
  flex-direction: column;
  border-radius: 3rem;
  padding: 2rem;
  color: black;
}

.details .header {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.name {
  font-size: 2rem;
  font-weight: bold;
}

.details .price {
  font-size: 1.8rem;
  margin: 2rem 2rem 2rem 0;
}

.description {
  font-size: 1.5rem;
  max-width: 60vw;
  overflow-wrap: break-word;
}

.title {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
}

.details .price::before {
  font-weight: bold;
  font-size: 1.8rem;
}

.details button {
  color: white;
  background: black;
  border: none;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 10rem;
  margin: 0.5rem;
}

.details button:hover {
  background: #333;
  cursor: pointer;
}

.success-message {
  color: green;
  font-size: 1rem;
  margin-top: 10px;
  font-weight: bold;
  opacity: 1;
  transition: opacity 1s ease-out;
}

.fade-out {
  opacity: 0;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}


.quantity-display {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
  min-width: 40px;
}

@media (max-width: 768px) {
  img {
    border-radius: 2rem;
    width: 60vw;
    height: 60vw;
  }

  .container {
    flex-direction: row;
    padding-top: 15px;
  }
}
