<div class="body">

  <div class="product-grid">
    <div *ngFor="let product of products" class="product-item">
      <a routerLink="/product/{{ product.id }}">
        <img *ngIf="product.imageURL" 
             [src]="'http://localhost:8000' + product.imageURL" 
             alt="{{ product.name }}" 
            class="product-image" />
        <div class="content">
          <div class="name">
            {{ product.name }}
          </div>
          <div class="price">
            <span>
              {{ product.price | currency : "Ft " }}
            </span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>