* {
    margin: 0;
    padding: 0;

}

.body {

    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
    background-image:
        url('/assets/images/stars.png'),
        linear-gradient(to bottom, #1b2947, #1b2947, #2b3152, #3b385d, #3b385d, #4c4067, #615383, #776092);
    background-size: auto, cover; 
    background-repeat: repeat, no-repeat;
    background-position: center center, center center;
    display: flex;
    justify-content: center;

}

@keyframes changeShadow {
    0% {
      box-shadow: 0px 0px 20px 5px rgb(233, 232, 232);
    }
    25% {
      box-shadow: 0px 0px 20px 5px rgb(233, 232, 232);
    }
    50% {
      box-shadow: 0px 0px 20px 10px rgb(255, 255, 255);
    }
    75% {
      box-shadow: 0px 0px 20px 5px rgb(233, 232, 232);
    }
    100% {
      box-shadow: 0px 0px 20px 5px rgb(233, 232, 232);
    }
}

.moon {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: rgb(233, 231, 231);
    box-shadow: 0px 0px 20px 5px rgb(233, 231, 231);
    position: fixed;
    top: 15vh;
    left: 10vw;
    z-index: 1;
    overflow: hidden;
    animation: changeShadow 6s linear infinite;
}

.moon_div1 {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    z-index: 1;
    background-color: rgb(230, 230, 230);
    border: solid 2px rgb(224, 224, 224);
    position: absolute;
    top: 8px;
    left: 30px;
}
.moon_div2 {
    width: 28px;
    height: 28px;
    border-radius: 100%;
    z-index: 1;
    background-color: rgb(230, 230, 230);
    border: solid 2px rgb(224, 224, 224);
    position: absolute;
    top: 35px;
    left: 10px;
}
.moon_div3 {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    z-index: 1;
    background-color: rgb(230, 230, 230);
    border: solid 2px rgb(224, 224, 224);
    position: absolute;
    top: 32px;
    left: 65px;
}
.moon_div4 {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    z-index: 1;
    background-color: rgb(230, 230, 230);
    border: solid 2px rgb(224, 224, 224);
    position: absolute;
    top: 70px;
    left: 40px;
}


.imagebig {
    width: 150px;
    height: auto;
}

.imagesmall {
    width: 70px;
    height: auto;
}

.imagesmall2 {
    width: 70px;
    height: auto;
    position: relative;
    top: 30px;
}

.h1s {
    position: relative;
    top: 80px;
}

.h1div {
    margin-top: 35vh;
    margin-bottom: 65vh;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.5s ease-out;
    background-color: rgba(190, 190, 190, 0.062);
    border-radius: 15px;
    padding: 30px;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 3em;
    transition: all 0.2s;
    padding: 15px;
    border-radius: 20px;
}

.link:hover {
    color: rgb(0, 0, 0);
    background-color: white;
}

.h1 {
    color: white;
    font-size: 3em;
    transition: all 0.1s;
    
}

.h1:hover {
    text-shadow: white 0px 0px 7px;
}


@keyframes slideUp {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
  
.slide-up {
    opacity: 1;
    animation: slideUp 2.5s ease-out forwards;
}