<div class="body">
  <div class="container">
    <div class="datepicker-container">
      <mat-form-field>
        <mat-label>{{ "Choose a date" | translate }}</mat-label>
        <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" (dateChange)="onDateChange($event)">
        <mat-hint></mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>{{ "Cancel" | translate }}</button>
            <button class="mat-button" mat-raised-button matDatepickerApply (click)="onApplyClick()">
              {{ "Apply" | translate }}
            </button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ "Choose a time" | translate }}</mat-label>
        <mat-select (selectionChange)="onTimeSelect($event)">
          <mat-option *ngFor="let time of availableTimes" [value]="time"
            [disabled]="isDateBooked(selectedDate?.toISOString().split('T')[0], time)">
            {{ time }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="isDayFullyBooked" class="fully-booked-message">
        {{ "All appointments are booked for this day!" | translate }}
      </div>

      <mat-form-field>
        <mat-label>{{ "Choose your gender" | translate }}</mat-label>
        <mat-select [(value)]="selectedGender">
          <mat-option value="male">{{ "Male" | translate }}</mat-option>
          <mat-option value="female">{{ "Female" | translate }}</mat-option>
          <mat-option value="other">{{ "Other" | translate }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" class="custom-green-button" (click)="onApplyClick()" [disabled]="!canBook()">
        {{ "Book" | translate }}
      </button>

      <div *ngIf="isDayFullyBooked" class="fully-booked-message">
        {{ "All appointments are booked for this day!" | translate }}
      </div>
      <div class="booked-message-container">
        <div *ngIf="showBookedMessage" class="booked-message">
          {{ "Booked" | translate }}
        </div>
      </div>
      <style>
        .success-message {
          color: green;
          font-weight: bold;
          margin-top: 10px;
        }
      </style>
    </div>
  </div>
</div>