* {
    margin: 0;
    padding: 0;

}

.body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(189, 189, 189);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:
        url('/assets/images/stars.png'),
        linear-gradient(to bottom, #1b2947, #1b2947, #2b3152, #3b385d, #3b385d, #4c4067, #615383, #776092);
    background-size: auto, cover; 
    background-repeat: repeat, no-repeat;
    background-position: center center, center center;
}

.Loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.register {
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 30px;
    border: solid 4px black;
    gap: 10vh;
}


.fade-in {
    animation: fadeIn 1s ease-in-out;
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
}

.input-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.error {
    color: red;
    font-size: 1.2em;
}


.input-div input {
    width: 80%;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    border: solid 1px black;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.register-btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.register-btn {
    min-width: 80%;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    border: solid 1px black;
    padding: 20px;
    font-size: 1.2em;
    text-align: center;
    background-color: #1b2947;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;

}

.register-btn:hover {
    background-color: #29447e;
}

@media (max-width: 768px) {
    .register {
        width: 85vw;

    }

    .register-btn {
        min-width: 60%;
        height: 40px;
        margin: 10px;
        border-radius: 10px;
        border: solid 1px black;
        padding: 20px;
        font-size: 1.2em;
        text-align: center;
        background-color: #1b2947;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.2s;
    
    }
}